In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

# Air_Store_Info.csv

In [2]:
df = pd.read_csv("../data/air_store_info.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 5 columns):
air_store_id      829 non-null object
air_genre_name    829 non-null object
air_area_name     829 non-null object
latitude          829 non-null float64
longitude         829 non-null float64
dtypes: float64(2), object(3)
memory usage: 32.5+ KB

In [4]:
df.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [5]:
df.describe()

         latitude   longitude
count  829.000000  829.000000
mean    35.647042  137.415311
std      2.084659    3.650971
min     33.211967  130.195555
25%     34.695124  135.341564
50%     35.658068  139.685474
75%     35.694003  139.751599
max     44.020632  144.273398

In [6]:
df.isnull().values.any()

False

Data is clean and it does not contain any missing values.

In [7]:
# Check if there are duplicated Store Ids
df[df.duplicated(['air_store_id'])]

Empty DataFrame
Columns: [air_store_id, air_genre_name, air_area_name, latitude, longitude]
Index: []

Apparently dataset is clean and it does not contain any duplicated entry :) That's great!

## air_genre_name

In [8]:
df['air_genre_name'].value_counts()

Izakaya                         197
Cafe/Sweets                     181
Dining bar                      108
Italian/French                  102
Bar/Cocktail                     79
Japanese food                    63
Other                            27
Yakiniku/Korean food             23
Western food                     16
Okonomiyaki/Monja/Teppanyaki     14
Creative cuisine                 13
Asian                             2
International cuisine             2
Karaoke/Party                     2
Name: air_genre_name, dtype: int64

## air_area_name

In [9]:
df['air_area_name'].value_counts()

Fukuoka-ken Fukuoka-shi Daimyō                   64
Tōkyō-to Shibuya-ku Shibuya                      58
Tōkyō-to Minato-ku Shibakōen                     51
Tōkyō-to Shinjuku-ku Kabukichō                   39
Tōkyō-to Setagaya-ku Setagaya                    30
Tōkyō-to Chūō-ku Tsukiji                         29
Ōsaka-fu Ōsaka-shi Ōgimachi                      25
Hiroshima-ken Hiroshima-shi Kokutaijimachi       23
Tōkyō-to Meguro-ku Kamimeguro                    22
Hokkaidō Sapporo-shi Minami 3 Jōnishi            21
Tōkyō-to Suginami-ku Asagayaminami               21
Tōkyō-to Chiyoda-ku Kudanminami                  20
Ōsaka-fu Ōsaka-shi Kyūtarōmachi                  19
Miyagi-ken Sendai-shi Kamisugi                   17
Hyōgo-ken Kōbe-shi Kumoidōri                     17
Fukuoka-ken Fukuoka-shi Hakata Ekimae            16
Tōkyō-to Taitō-ku Higashiueno                    16
Tōkyō-to Chūō-ku Ginza                           14
Shizuoka-ken Hamamatsu-shi Motoshirochō          13
Hokkaidō Asahikawa-shi 6 Jōdōri                  13
Tōkyō-to Toshima-ku Minamiikebukuro              12
Ōsaka-fu Ōsaka-shi Shinmachi                     10
Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike     10
Hyōgo-ken Himeji-shi Yasuda                       9
Tōkyō-to Kōtō-ku Tōyō                             9
Tōkyō-to Minato-ku Akasaka                        8
Fukuoka-ken Fukuoka-shi Shiobaru                  7
Hiroshima-ken Fukuyama-shi Higashisakuramachi     7
Hyōgo-ken Nishinomiya-shi Rokutanjichō            7
Fukuoka-ken Itoshima-shi Maebarunishi             7
                                                 ..
Tōkyō-to Kōtō-ku Kameido                          2
Tōkyō-to Shibuya-ku Higashi                       2
Tōkyō-to Taitō-ku Kuramae                         2
Tōkyō-to Toshima-ku Nishiikebukuro                2
Niigata-ken Kashiwazaki-shi Chūōchō               2
Ōsaka-fu Neyagawa-shi Honmachi                    2
Tōkyō-to Chiyoda-ku Kanda Jinbōchō                2
Hokkaidō Sapporo-shi Kita 24 Jōnishi              2
Fukuoka-ken Yame-shi Motomachi                    2
Tōkyō-to Shibuya-ku Dōgenzaka                     2
Tōkyō-to Katsushika-ku Tateishi                   2
Tōkyō-to Musashino-shi Kichijōji Honchō           2
Tōkyō-to Shibuya-ku Jingūmae                      2
Tōkyō-to Koganei-shi Honchō                       2
Tōkyō-to Meguro-ku Takaban                        2
Hokkaidō Abashiri-shi Minami 6 Jōhigashi          2
Hyōgo-ken Kōbe-shi Motomachidōri                  2
Hokkaidō Katō-gun Motomachi                       2
Ōsaka-fu Sakai-shi Minamikawaramachi              2
Tōkyō-to Musashino-shi Midorichō                  2
Fukuoka-ken Fukuoka-shi Takatori                  2
Tōkyō-to Shinagawa-ku Higashigotanda              2
Ōsaka-fu Ōsaka-shi Nanbasennichimae               2
Shizuoka-ken Numazu-shi Miyukichō                 2
Tōkyō-to Minato-ku Roppongi                       2
Tōkyō-to Fuchū-shi Miyanishichō                   2
Tōkyō-to Toshima-ku Sugamo                        2
Ōsaka-fu Ōsaka-shi Fuminosato                     2
Tōkyō-to Setagaya-ku Sangenjaya                   2
Hyōgo-ken Amagasaki-shi Higashinanamatsuchō       2
Name: air_area_name, dtype: int64

# IDEAS:
* to make statistics about trends for visits per restaurant genre type
* to visualize restaurants on map. Examples:
    * https://stackoverflow.com/questions/45388412/what-is-the-fastest-way-to-plot-coordinates-on-map-inline-jupyter
    * http://bokeh.pydata.org/en/latest/docs/user_guide/geo.html
    * https://github.com/pbugnion/gmaps)
* to calculate distance from the restaurant to the Tokyo center and see if this is meaningful