In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

# Hpg_Store_Info.csv

In [2]:
df = pd.read_csv("../data/hpg_store_info.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4690 entries, 0 to 4689
Data columns (total 5 columns):
hpg_store_id      4690 non-null object
hpg_genre_name    4690 non-null object
hpg_area_name     4690 non-null object
latitude          4690 non-null float64
longitude         4690 non-null float64
dtypes: float64(2), object(3)
memory usage: 183.3+ KB

In [4]:
df.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [5]:
df.describe()

          latitude    longitude
count  4690.000000  4690.000000
mean     35.810261   137.675816
std       2.138755     3.197233
min      33.311645   130.339313
25%      34.692109   135.498859
50%      35.659214   139.495733
75%      35.703381   139.737998
max      43.774846   143.714585

In [6]:
df.isnull().values.any()

False

Data is clean and it does not contain any missing values.

In [7]:
# Check if there are duplicated Store Ids
df[df.duplicated(['hpg_store_id'])]

Empty DataFrame
Columns: [hpg_store_id, hpg_genre_name, hpg_area_name, latitude, longitude]
Index: []

Apparently dataset is clean and it does not contain any duplicated entry :) That's great!

## hpg_genre_name

In [8]:
df['hpg_genre_name'].value_counts()

Japanese style                  1750
International cuisine            700
Creation                         410
Seafood                          339
Grilled meat                     325
Italian                          249
Spain Bar/Italian Bar            229
Chinese general                   91
Japanese food in general          85
Japanese cuisine/Kaiseki          64
Karaoke                           60
Creative Japanese food            60
Shabu-shabu/Sukiyaki              59
Okonomiyaki/Monja/Teppanyaki      44
Party                             40
Korean cuisine                    38
French                            27
Steak/Hamburger/Curry             24
Bistro                            22
Cafe                              16
Sushi                             11
Pasta/Pizza                       10
Bar/Cocktail                       7
Thai/Vietnamese food               5
Amusement bar                      5
Western food                       5
Cantonese food                     4
Sichuan food                       3
Dim Sum/Dumplings                  2
Sweets                             2
Udon/Soba                          1
Shanghai food                      1
Spain/Mediterranean cuisine        1
Taiwanese/Hong Kong cuisine        1
Name: hpg_genre_name, dtype: int64

## hpg_area_name

In [9]:
df['hpg_area_name'].value_counts()

Tōkyō-to Shinjuku-ku None                    257
Tōkyō-to Chūō-ku Ginza                       198
Hyōgo-ken Kōbe-shi None                      163
Ōsaka-fu Ōsaka-shi Shinsaibashisuji          150
Osaka Prefecture Osaka None                  145
Hiroshima-ken Hiroshima-shi Hondōri          135
Tōkyō-to Shibuya-ku None                     127
Tōkyō-to Minato-ku Takanawa                  122
Tōkyō-to Toshima-ku None                     119
None None None                               117
Tōkyō-to Hachiōji-shi Ishikawamachi          114
Hokkaidō Sapporo-shi Minami 4 Jōnishi        110
Tōkyō-to Taitō-ku None                       100
Shizuoka-ken Hamamatsu-shi Sukenobuchō        90
Fukuoka-ken Fukuoka-shi None                  90
Tōkyō-to Chiyoda-ku None                      89
Tōkyō-to Chūō-ku None                         86
Tōkyō-to Sumida-ku Tachibana                  86
Hokkaidō Sapporo-shi None                     84
Shizuoka-ken Shizuoka-shi Hinodechō           79
Tōkyō-to Minato-ku Roppongi                   78
Tōkyō-to Machida-shi Nakamachi                74
Miyagi-ken Sendai-shi Ichibanchō              73
Ōsaka-fu Ōsaka-shi Awajimachi                 66
Fukuoka-ken Fukuoka-shi Hakata Ekimae         66
Fukuoka-ken Kitakyūshū-shi Sunatsu            65
Hyōgo-ken Himeji-shi Tsuchiyama               63
Kanagawa-ken Yokohama-shi Nagatsutachō        61
Hiroshima-ken Hiroshima-shi Yokogawachō       60
Niigata-ken Niigata-shi Higashiōdōri          58
                                            ...
Niigata-ken Niigata-shi Sakaihigashi           8
Tōkyō-to Hino-shi Ochikawa                     7
Tōkyō-to Fussa-shi Musashinodai                7
Tōkyō-to Setagaya-ku None                      6
Ōsaka-fu Ōsaka-shi Hannanchō                   5
Ōsaka-fu Ōsaka-shi Izuo                        5
Fukuoka-ken Chikushino-shi Yamaguchi           5
Shizuoka-ken Shizuoka-shi Irie                 5
Hokkaidō Sapporo-shi Sumikawa 2 Jō             5
Tōkyō-to Itabashi-ku Maenochō                  4
Miyagi-ken Sendai-shi Izumizaki                4
Hokkaidō Asahikawa-shi Higashi 6 Jō            4
Miyagi-ken Ōsaki-shi Furukawa                  4
Miyagi-ken Sendai-shi Miyamachi                4
Tōkyō-to Koganei-shi Kajinochō                 4
Niigata-ken Jōetsu-shi Minamitaya Shinden      3
Tōkyō-to Meguro-ku Takaban                     3
Fukuoka-ken Fukuoka-shi Matsushima             3
Miyagi-ken Shiogama-shi Shōyōdai               3
Shizuoka-ken Fujinomiya-shi Wakanomiyachō      2
Ōsaka-fu Sakai-shi Kobirao                     2
Niigata-ken Shibata-shi Miyukichō              2
Shizuoka-ken Itō-shi Ogi                       2
Niigata-ken Niigata-shi Kurumaba               2
Niigata-ken Niigata-shi Meike                  2
Fukuoka-ken Iizuka-shi Mashiki                 2
Tōkyō-to Shinagawa-ku Koyama                   1
Hokkaidō Ashibetsu-shi None                    1
Ōsaka-fu Minoo-shi Hanjo                       1
Niigata-ken Nagaoka-shi Rokusho                1
Name: hpg_area_name, dtype: int64

**INFO:** The `hpg_area_name` column contains information about location: prefecture, capital or ward, and area. Thus we can split that information into separate columns.

In [10]:
df['hpg_area_name_prefecture'] = df['hpg_area_name'].str.split('\s+').str[0]
df['hpg_area_name_ward'] = df['hpg_area_name'].str.split('\s+').str[1]
df['hpg_area_name_area'] = df['hpg_area_name'].str.split('\s+').str[2]

In [11]:
df.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude,hpg_area_name_prefecture,hpg_area_name_ward,hpg_area_name_area
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku,Taishidō
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku,Taishidō
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku,Taishidō
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku,Taishidō
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku,Taishidō

In [12]:
df['hpg_area_name_prefecture'].value_counts()

Tōkyō-to         2076
Ōsaka-fu          514
Fukuoka-ken       380
Hyōgo-ken         331
Hokkaidō          298
Hiroshima-ken     245
Shizuoka-ken      231
Osaka             145
Niigata-ken       142
Miyagi-ken        139
None              117
Kanagawa-ken       61
Saitama-ken        11
Name: hpg_area_name_prefecture, dtype: int64

# IDEAS:
* to make statistics about trends for visits per restaurant genre type
* consider local holidays (i.e. holiday only in Tokyo) as a potentially significant factor - special days with abnormally high number of reservations).  
* to visualize restaurants on map. Examples:
    * https://stackoverflow.com/questions/45388412/what-is-the-fastest-way-to-plot-coordinates-on-map-inline-jupyter
    * http://bokeh.pydata.org/en/latest/docs/user_guide/geo.html
    * https://github.com/pbugnion/gmaps)
* to calculate distance from the restaurant to the city center and see if this is meaningful