In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

In [2]:
df_air_reserve =    pd.read_csv("../data/air_reserve.csv")
df_air_store_info = pd.read_csv("../data/air_store_info.csv")
df_air_visit_data = pd.read_csv("../data/air_visit_data.csv")

df_hpg_reserve =    pd.read_csv("../data/hpg_reserve.csv")
df_hpg_store_info = pd.read_csv("../data/hpg_store_info.csv")

df_date_info =      pd.read_csv("../data/date_info.csv")
df_store_id_relation = pd.read_csv("../data/store_id_relation.csv")

# air

In [3]:
df_air_reserve.count()

air_store_id        92378
visit_datetime      92378
reserve_datetime    92378
reserve_visitors    92378
dtype: int64

In [4]:
df_air_store_info.count()

air_store_id      829
air_genre_name    829
air_area_name     829
latitude          829
longitude         829
dtype: int64

In [5]:
df_air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [6]:
df_air_store_info[df_air_store_info['air_store_id'] == 'air_877f79706adbfb06']

,air_store_id,air_genre_name,air_area_name,latitude,longitude
707,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [7]:
df_air = df_air_reserve.join(df_air_store_info.set_index('air_store_id'), on='air_store_id')

In [8]:
df_air.count()

air_store_id        92378
visit_datetime      92378
reserve_datetime    92378
reserve_visitors    92378
air_genre_name      92378
air_area_name       92378
latitude            92378
longitude           92378
dtype: int64

In [9]:
df_air.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_genre_name,air_area_name,latitude,longitude
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3,Dining bar,Ōsaka-fu Ōsaka-shi Shinmachi,34.676231,135.486059
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6,Dining bar,Ōsaka-fu Ōsaka-shi Shinmachi,34.676231,135.486059
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,43.770635,142.364819